.container {
  display: flex;
}

.image-side {
  position: relative;
  width: 40%;
}

.title-logo {
  position: absolute;
}

.beach-image {
  width: 100%;
  height: 100vh;
}

.beach-logo {
  width: 100px;
  position: absolute;
  top: 15%;
  left: 20%;
}

.img-header {
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 60px;
  color: white;
  font-family: "Manrope", sans-serif;
}

.acknowledegment {
  position: absolute;
  top: 95%;
  left: 35%;
  color: white;
}

.form-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.caption-box {
  margin-left: 100px;
  margin-top: 60px;
}

.caption-text {
  width: 40rem;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.form-heading {
  font-size: 30px;
  font-family: "Manrope", sans-serif;
}

input,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-last-name,
.email-phone-number,
.password-confirm-password {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

label {
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
}

input {
  background-color: #ffffff;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
}

.button-box {
  margin-left: 100px;
}

.button-caption {
  font-family: "Manrope", sans-serif;
}

button {
  background-color: #da595f;
  padding: 10px 40px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.link-details {
  font-family: "Manrope", sans-serif;
}
