.container {
  display: flex;
}

.image-side {
  position: relative;
  width: 40%;
}

.beach-image {
  width: 100%;
  height: 100vh;
}

.title-logo {
  position: absolute;
  top: 15%;
  width: 94.5%;
  display: flex;
  background-color: rgb(238, 222, 222);
  padding: 20px;
  justify-content: center;
  opacity: 0.4;
}

.beach-logo {
  width: 100px;
  margin-right: 20px;
}

.img-header {
  font-size: 60px;
  color: black;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.acknowledegment {
  position: absolute;
  top: 95%;
  left: 35%;
  color: white;
}

.form-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(230, 247, 247);
}

.caption-box {
  margin-top: 60px;
}

.caption-text {
  width: 50rem;
  font-size: 50px;
  font-family: "Luckiest Guy", cursive;
  margin-left: 100px;
}

.form-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 241, 241);
}

.form-heading {
  font-size: 30px;
  font-family: "Luckiest Guy", cursive;
  margin-left: 100px;
}

.first-last-name,
.email-phone-number,
.password-confirm-password {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-left: 100px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

label {
  margin-bottom: 5px;
  font-family: "Manrope", sans-serif;
}

input {
  background-color: #ffffff;
  width: 300px;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  border-color: #e5e7eb;
}

.button-box {
  background-color: rgb(229, 233, 233);
  height: 230px;
}

.button-caption {
  font-family: "Luckiest Guy", cursive;
  margin-left: 100px;
}

button {
  background-color: #da595f;
  padding: 10px 40px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-left: 100px;
}

.link-details {
  font-family: "Luckiest Guy", cursive;
  margin-left: 100px;
}

a {
  color: #da595f;
  font-weight: bold;
  text-decoration: none;
}
